<p>product works!</p>
<div class="container mt-3">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let product of products">
        <div class="card mb-4 border-info" style="background-color: white; transition: background-color 0.3s, border-color 0.3s;">
          <img [src]="product.imageUrl" class="card-img-top" alt="Product Image" style="width: 100%; height: 400px;">
          <div class="card-body">
            <h5 class="card-title text-secondary">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text">Cost: {{ product.cost.toFixed(2) }}</p>
            <button class="btn btn-primary" (click)="addToCart(product)">Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>